* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 14px;
  font-weight: bold;
  background-color: yellow;
  display: inline-block;
  padding: 5px;
  color: #000;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

li {
  font-size: 17px;
  line-height: 1.5;
  margin: 5px;
}

nav {
  font-size: 17px;
  padding: 0 10px;
}

#author {
  font-style: italic;
  font-size: 14px;
}

#copyright {
  font-size: 14px;
  margin-bottom: 0;
}

.related-author {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  font-family: cursive;
}

.related-posts {
  list-style: none;
  margin-left: 0;
}

.main-header {
  background-color: #f7f7f7;
}

.post-header {
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 6px solid #1098ad;
  border-bottom: 6px solid #1098ad;
  padding: 20px 40px;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*Link Styling*/

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  color: blue;
}

.post-img {
  width: 100%;
  height: auto;
}

/*Centering Our Page*/

.main-container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto; /*using short- hand*/
  position: relative;
}

nav a:link {
  display: inline-block;
  margin-right: 20px;
}

nav a:link:last-child {
  margin-right: 0;
}

/*Like Button*/

.like-button {
  font-size: 22px;
  padding: 8px;
  background-color: rgba(0, 251, 255, 0.084);
  border: 2px solid rgba(0, 0, 0, 0.431);
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.like-button:hover {
  background-color: rgba(0, 251, 255, 0.144);
  border: 2px solid rgba(0, 0, 0, 0.524);
  transform: scale(1.1);
  transition: 100ms;
}

/*Footer*/
footer {
  background-color: rgba(255, 255, 0, 0.394);
}

/*NavBar*/
nav a {
  font-family: cursive;
}

nav a:hover {
  transform: scale(1.1);
  transition: 100ms;
}

.author-box {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.author {
  margin-bottom: 0;
}

.author-box img {
  margin-bottom: 0px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

nav {
  margin-right: 15px;
}

.related-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.related-posts a:link {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 3px;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.related-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.related-posts li {
  margin: 0px;
}

/*FlexBox.html*/

.flex-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.item {
  width: 200px;
  height: 200px;
  background-color: blue;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.item-1 {
  background-color: yellow;
}
.item-2 {
  background-color: rgb(38, 255, 0);
}
.item-3 {
  background-color: orange;
}
.item-4 {
  background-color: skyblue;
}
.item-5 {
  background-color: rgb(81, 211, 81);
}
.item-6 {
  background-color: lightblue;
}
.item-7 {
  background-color: lightcoral;
}
.item-8 {
  background-color: lightcyan;
}
.item-9 {
  background-color: violet;
}

.flex-main-container {
  margin: 0 auto;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 325px;
  column-gap: 75px;
  row-gap: 40px;
}

.main-header {
  grid-column: 1/-1;
}

footer {
  grid-column: 1/-1;
}

aside {
  align-self: start;
}
