* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 20px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 14px;
  font-weight: bold;
  background-color: yellow;
  display: inline-block;
  padding: 5px;
  color: #000;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

li {
  font-size: 17px;
  line-height: 1.5;
  margin: 5px;
}

nav {
  font-size: 17px;
}

#author {
  font-style: italic;
  font-size: 14px;
}

#copyright {
  font-size: 14px;
  margin-bottom: 0;
}

.related-author {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  font-family: cursive;
}

.related-posts {
  list-style: none;
  margin-left: 0;
  box-sizing: border-box;
  /*no need of this until we have somewhere used box-sizing:content-box; as we have set the box-sizing:border-box; using universal selector */
}

.main-header {
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 6px solid #1098ad;
  border-bottom: 6px solid #1098ad;
  padding: 20px 40px;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

article p:last-child {
  color: red;
  font-weight: bold;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  color: blue;
}

article {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
  height: auto;
}

/*Centering Our Page*/

.main-container {
  width: 1100px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto; /*using short- hand*/
  position: relative;
}

nav a:link {
  display: inline-block;
  margin-right: 20px;
}

nav a:link:last-child {
  margin-right: 0;
}

.like-button {
  font-size: 22px;
  padding: 8px;
  background-color: rgba(0, 251, 255, 0.084);
  border: 2px solid rgba(0, 0, 0, 0.431);
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.like-button:hover {
  background-color: rgba(0, 251, 255, 0.144);
  border: 2px solid rgba(0, 0, 0, 0.524);
  transform: scale(1.1);
  transition: 100ms;
}

h1 {
  padding-top: 10px;
  float: left;
}

nav {
  padding-top: 20px;
  float: right;
  padding-right: 20px;
}

/* used to clear the float by inserting new empty div block element*/
/*.clear {
  clear: both;
} */

/* used to clear the float by inserting new empty block element using pseudo element*/
.clearhash::after {
  content: "";
  clear: both;
  display: block;
}

.author {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}

.author-img {
  float: left;
  margin-bottom: 10px;
}

article {
  width: 700px;
  float: left;
}

aside {
  width: 340px;
  float: right;
}

footer {
  clear: both;
  background-color: rgba(255, 255, 0, 0.394);
}

nav a {
  font-family: cursive;
}

nav a:hover {
  transform: scale(1.1);
  transition: 100ms;
}
